---
import { Image } from "astro:assets";
import svgl from "../../public/svgl.png";
import chhap from "../../public/chhap.jpg";
import mediary from "../../public/mediary.png";
import waitlist from "../../public/waitlist.jpg";

interface Project {
  title: string;
  image: ImageMetadata;
  preview: string;
  status: string;
}

const project: Project[] = [
  {
    title: "Chhap - Pulse of Asia",
    image: chhap as ImageMetadata,
    preview: "https://www.chhap.asia",
    status: "Branding, Website Design & Development",
  },
  {
    title: "Mediary - Production Media Agency",
    image: mediary as ImageMetadata,
    preview: "https://mediary.framer.website/",
    status: "Branding, Website Design & Development",
  },
  {
    title: "WaitlistMuse",
    image: waitlist as ImageMetadata,
    preview: "https://waitlistmuse.framer.website/",
    status: "Website Design & Development",
  },
];
---

<section
  id="project"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">My work</h2>
    <h3 class="text-4xl md:text-5xl font-medium mb-8">Projects</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        project.map((project) => (
          <div class="group">
            <a
              href={project.preview}
              target="_blank"
              rel="noopener noreferrer"
              class="block"
            >
              <div class="rounded-2xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 mb-4">
                <Image
                  src={project.image}
                  alt={project.title}
                  class="w-full h-48 md:h-72 object-cover group-hover:scale-105 transition-transform duration-300"
                />
              </div>
              <div class="flex items-center px-3">
                <div class="flex-grow">
                  <h4 class="text-2xl font-semibold">{project.title}</h4>
                  <span class="py-1 text-sm text-[var(--white-icon)]">
                    {project.status}
                  </span>
                </div>
                <div class="flex gap-2 ml-auto">
                
                  <a
                    target="_blank"
                    href={project.preview}
                    aria-label="Preview"
                    class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="size-7"
                    >
                      <path d="M10.855 7.502c-0.825 0 -1.618 0.347 -2.224 0.896 -0.694 0.63 -1.131 1.535 -1.131 2.47 0 0.499 0.75 0.516 0.75 0.018 0 -0.724 0.35 -1.448 0.886 -1.935a2.745 2.745 0 0 1 1.739 -0.701c0.491 0 0.504 -0.748 -0.019 -0.748zM11.25 6c-2.895 0 -5.25 2.355 -5.25 5.25s2.355 5.25 5.25 5.25 5.25 -2.355 5.25 -5.25 -2.355 -5.25 -5.25 -5.25m0 0.75c2.49 0 4.5 2.01 4.5 4.5s-2.01 4.5 -4.5 4.5 -4.5 -2.01 -4.5 -4.5 2.01 -4.5 4.5 -4.5m0 -2.25c-3.662 0 -6.469 1.465 -8.348 3.015a12.75 12.75 0 0 0 -2.132 2.226c-0.24 0.328 -0.424 0.619 -0.552 0.862 -0.128 0.244 -0.217 0.39 -0.217 0.646 0 0.255 0.09 0.403 0.217 0.645 0.129 0.244 0.312 0.536 0.553 0.864A12.75 12.75 0 0 0 2.902 14.985C4.78 16.535 7.587 18 11.25 18c3.662 0 6.469 -1.465 8.348 -3.015a12.75 12.75 0 0 0 2.132 -2.226c0.24 -0.328 0.424 -0.619 0.552 -0.862 0.128 -0.244 0.217 -0.39 0.217 -0.646 0 -0.255 -0.09 -0.403 -0.217 -0.645a7.05 7.05 0 0 0 -0.553 -0.864 12.75 12.75 0 0 0 -2.131 -2.226C17.72 5.965 14.913 4.5 11.25 4.5m0 0.75c3.463 0 6.094 1.379 7.87 2.843 0.889 0.734 1.561 1.488 2.006 2.093 0.222 0.302 0.386 0.569 0.492 0.768 0.131 0.245 0.102 0.413 0 0.594 -0.11 0.197 -0.27 0.465 -0.492 0.768 -0.444 0.605 -1.117 1.359 -2.006 2.093C17.343 15.87 14.713 17.25 11.25 17.25s-6.094 -1.379 -7.87 -2.843c-0.889 -0.734 -1.561 -1.488 -2.006 -2.093a7.125 7.125 0 0 1 -0.492 -0.768c-0.105 -0.188 -0.128 -0.364 0 -0.594 0.109 -0.198 0.27 -0.465 0.492 -0.768 0.444 -0.605 1.117 -1.359 2.006 -2.093C5.157 6.63 7.787 5.25 11.25 5.25" />
                    </svg>
                  </a>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
    <a
      href="./projects"
      aria-label="Projects"
      class="w-full flex items-center justify-center gap-2 mt-9 text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-[var(--white-icon-tr)] p-3 rounded-full bg-[#1414149c] hover:bg-[var(--white-icon-tr)] hover:scale-105"
    >
      <span class="md:text-lg text-md">See More projects</span>
      
    </a>
  </div>
</section>
